/* Imported Fonts */

@font-face {
    font-family: "Quattrocento-Bold";
    src: url(../fonts/Quattrocento-Bold.ttf);
}

@font-face {
    font-family: "Quattrocento-Regular";
    src: url(../fonts/Quattrocento-Regular.ttf);
}

@font-face {
    font-family: "BilboSwashCaps-Regular";
    src: url(../fonts/BilboSwashCaps-Regular.ttf);
}

/* Global Styles */

* {
    font-family: "Quattrocento-Regular";
}

html, body {
    height: 100%;
    margin: 0;
}

/* Styling for index.html */

.wrapper-home {
    display: flex; 
    flex-direction: column;
    background-image: url(../images/index-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.nav-home {
    display: flex;
    justify-content: space-between;
}

.nav-home h1 {
    font-family: "Quattrocento-Bold";
    font-size: 200%;
    margin-left: 10.5%;
}

.nav-home ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

li {
    padding: 25px;
    background: #000;
}

li a {
    color: #fff;;
    text-decoration: none;
}

