/* Imported Fonts */

@font-face {
    font-family: "Quattrocento-Bold";
    src: url(../fonts/Quattrocento-Bold.ttf);
}

@font-face {
    font-family: "Quattrocento-Regular";
    src: url(../fonts/Quattrocento-Regular.ttf);
}

@font-face {
    font-family: "BilboSwashCaps-Regular";
    src: url(../fonts/BilboSwashCaps-Regular.ttf);
}

/* Global Styles */

* {
    font-family: "Quattrocento-Regular";
}

html, body {
    height: 100%;
    margin: 0;
    /* position: relative; */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

/* Styling for index.html */

.wrapper-home {
    display: flex; 
    flex-direction: column;
    background-image: url(../images/index-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.nav-home {
    display: flex;
    justify-content: space-between;
}

.nav-home h1 {
    font-family: "Quattrocento-Bold";
    font-size: 200%;
    margin-left: 10.5%;
}

li {
    padding: 25px;
    background: #000;
}

li a {
    color: #fff;;
    text-decoration: none;
}

#intro {
    margin: auto;
    width: 75%;
}

#intro h1 {
    font-family: "BilboSwashCaps-Regular";
    font-size: 500%;
    font-weight: 800;
    color: #755a02;
    padding-top: 15px;
    padding-right: 135px;
    border-bottom: 6px solid #755a02;
}

#intro p {
    font-size: 150%;
    font-weight: 700;
    margin-left: 150px;
    padding: 1%;
    text-align: justify;
    line-height: 1.5em;
    color: #fff;
    background: rgba(10, 10, 10, 0.8);
}

/* Styling for about.html */

.wrapper-about {
    background-image: url(../images/about-photo.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50% auto;
    margin-left: 1%;
    height: 100%;
}

#main-about {
    color: #000;
    text-align: justify;
    padding-left: 53%;
    padding-right: 25px;
    padding-top: 100px;
    font-size: 150%;
    font-weight: bold;
}

#main-about h3 {
    font-family: "Quattrocento-Bold";
    font-size: 150%;
    color: #755a02;
}

/* Styling for projects.html */

#main-projects {
    font-size: 150%;
    text-align: center;
}

#figures {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 5rem;
}

img {
    width: 240px;
    height: 240px;
    border: 5px #755a02 solid;
}

figcaption {
    font-family: "BilboSwashCaps-Regular";
    font-weight: bold;
    font-size: 1.6rem;
}

/* Styling for journal.html */

.wrapper-journal {
   background-image: url(../images/journal-photo.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100%
}

#main-journal {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.8;
    text-align: center;
    padding: 1% 5% 5% 5%;
    margin-top: 100px;
    color: #fff;
    background: rgba(10, 10, 10, 0.8);
}

/* Styling for connect.html */

.wrapper-connect {
    background-image: url(../images/connect-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

#main-connect {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    color: #fff;
    font-size: large;
}

form *{
    display: block;
    width: 75%;
    margin: 0 25% 0 0;
    padding: 15px 0;
}

#submit-button {
    margin-top: 10px;
    font-size: 1.2rem;
}





